* {
  font-family: "Monaco";
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #dde2e5;
}

.header-div {
  /* background-color: #dde2e5; */

  display: flex;
  flex-direction: row;
  /* background-color: rgb(210, 217, 238); */
  align-items: center;
  /* padding: 1rem; */
  position: fixed;
  height: 15vh;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  padding-top: 2.75rem;
}

.header-div-sub {
  background-color: #dde2e5;

  display: flex;
  flex-direction: row;
  /* background-color: rgb(210, 217, 238); */
  align-items: center;
  /* padding: 1rem; */
  position: fixed;
  height: 15vh;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  padding-top: 2.75rem;
}

.header-title {
  margin-left: 4rem;
  /* color: rgb(42, 85, 214); */
  color: rgb(255, 254, 254);
  font-weight: 500;
  font-size: 40px;
}

a:link {
  text-decoration: none;
}

.nav-options {
  display: flex;
  margin-right: 4rem;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 3rem;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500;
  border: none;
}

.nav-item:hover {
  background-color: #cde2ff;
}

nav a.active {
  background-color: #cde2ff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#nav-icon {
  width: 75px;
  height: 75px;
  margin-left: 1rem;
}

.nav-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#video {
  /* width: 100%;
    height: 100%; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.other-pages {
  width: 100vw;
  position: absolute;
  top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  /* overflow: scroll; */
}

.form {
  border: 1px #cde2ff solid;
  border-radius: 50px;
  background-color: #cde2ff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1rem 6rem;
  margin-top: 2.5rem;
}

#form {
  width: 100vw;
  position: absolute;
  top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
.form-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  border-radius: 20px;
}

.form-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
}

.checkbox-div {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#meditation {
  margin-left: 2rem;
  margin-right: 0.55rem;
}

#exercise {
  margin-right: 0.55rem;
}

.checked-text {
  margin-right: 0.5rem;
}

.mood {
  width: 70px;
  height: 70px;
  margin-left: 1.1rem;
}
#range {
  -webkit-appearance: none;
  width: 300px;
  height: 1em;
  border-radius: 5px;
  margin-left: 1rem;
  background-image: linear-gradient(#f9dbeb, #f9dbeb);
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: #f9dbeb;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#form-submit {
  margin-top: 1.5rem;
  background-color: #f9dbeb;
  border: #cde2ff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  height: 50px;
  width: 140px;
  margin-bottom: 1.5rem;
}

#form-submit-two {
  margin-top: 1.5rem;
  background-color: #cce8b0;
  border: #cde2ff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: rgb(255, 255, 255);
  font-size: 20px;

  height: 50px;
  width: 140px;
  margin-bottom: 1.5rem;
}

.quote {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.daily-stats {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #cde2ff;
  border: #cde2ff;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.daily-container {
  /* margin-top: 120rem; */
}

.daily-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.slider {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.range-value {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  margin-left: 1rem;
}

.mood-div {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.checkbox {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  -webkit-user-select: none;
}
