* {
  font-family: "Monaco";
  box-sizing: border-box;
  margin: 0;
  /* background-color: rgb(210, 217, 238); */
}

.nav-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(210, 217, 238); */
  align-items: center;
  padding: 1rem;
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

.nav-title {
  margin-left: 3rem;
  /* color: rgb(42, 85, 214); */
  color: rgb(255, 254, 254);
  font-weight: 500;
  font-size: 40px;
}

.nav-options {
  display: flex;
  margin-right: 3rem;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 2rem;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.nav-item:hover {
  background-color: #cde2ff;
}

#nav-icon {
  width: 75px;
  height: 75px;
  margin-left: 1rem;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#video {
  /* width: 100%;
  height: 100%; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
